body{
        color: rgb(0, 0, 0);
        font-weight: 800;
        font-size: 14px;
        font-family: 'Courier New', Courier, monospace;
      
}
h1{
    color: gold;
    font-size: 20px;
    font-weight: bold;
}